In [1]:
import random
import numpy as np
import pandas as pd

In [ ]:
possible_columns = ['AplicanteID', 'DescricaoTrabInteresse', 'Cidade','OpcaoFisico', 'OpcaoRemoto', 'ExperienciaTrabalho', 'Ingles','Soft Skills']

In [ ]:
possible_job_description = ['Procuro vaga de junior em Data Science aplicado a area de financas',
                            'Gostaria de uma vaga no campo de programacao front-end, utilizando tecnologias atuais como ReactNative',
                            'Procuro uma vaga no gerenciamento de times front-end',
                            'Procuro uma vaga de programador back-end',
                            'Procuro uma vaga de programador front-end',
                            'Quero uma vaga no time de analise de dados com foco em big data',
                            'Gostaria de uma vaga no time de Cientista de Dados com foco em Machine Learning, Visao Computacional e time series',
                            'Estou procurando uma vaga de business inteligence, aplicado ao setor de delivery de comida',
                            'Vaga em Data Science pleno com foco no setor de varejo'

]

In [ ]:
possible_cities = ['Sao Paulo',
                   'Rio de Janeiro',
                   'Santa Maria',
                   'Porto Alegre','Canoas','Sao Bernardo do Campo', 'Buzios','Florianopolis','Curitiba','Garopaba','Pato Branco','Santiago','Bahia','Aracaju']

In [ ]:
possible_yes_no = ['Sim','Nao']

In [ ]:
possible_work_exp = ['< 2', '2 - 4','5 - 10', '10 >']

In [ ]:
possible_ingles = ['Basico','Intermediario','Avancado']

In [ ]:
possible_soft_skills = ['Criatividade|Colaboracao|Agilidade', 'Autoditada|Colaboracao|Agilidade', 'Comprometimento|Agilidade', 'Dinamico|Autodisciplina', 'Lideranca|Flexibilidade|Comprometimento', 'TrabalhoEquipe|Comunicacao']

In [ ]:
indexes = random.randint(1, 2)

In [ ]:
AppID = np.arange(1, 30, 1)

In [ ]:
job_desc = []
cities = []
work_fis = []
work_remote = []
work_exp = []
ingles = []
soft = []
for i in range(0, len(AppID)):
  random.seed(40+i)
  job_desc.append(possible_job_description[random.randint(0, len(possible_job_description)-1)])
  cities.append(possible_cities[random.randint(0, len(possible_cities)-1)])
  work_fis.append(possible_yes_no[random.randint(0, len(possible_yes_no)-1)])
  work_remote.append(possible_yes_no[random.randint(0, len(possible_yes_no)-1)])
  work_exp.append(possible_work_exp[random.randint(0, len(possible_work_exp)-1)])
  ingles.append(possible_ingles[random.randint(0, len(possible_ingles)-1)])
  soft.append(possible_soft_skills[random.randint(0, len(possible_soft_skills)-1)])

In [ ]:
applicant_df = pd.DataFrame(data=[AppID, job_desc, cities, work_fis, work_remote, work_exp, ingles, soft]).T
applicant_df.columns = possible_columns
applicant_df.to_csv('applicants.csv')

In [ ]:
df['Tecnologias']

0                   PowerBI|Tableau|R|Python|SQL|Docker
1       DeepLearning|Python|Sckitlearn|C|C#|JavaScript|
2          ReactNative|Bootstrap|Java|JavaScript|jQuery
3               PowerBI|R|Python|SQL|Excel|GoogleSheets
4                           Python|Scitkitlearn|Prophet
5                                          React|jQuery
6                             Flutter|ReactNative|Swift
7                            Spark|Tableau|R|Python|SQL
8                                     Python|SQL|Docker
9                                   Flutter|ReactNative
10                                               Python
11                   PHP|Ruby|C#|Java|JavaScript|Python
12                        HTML|CCS|JavaScript|Bootstrap
13                                PHP|Ruby|C#|Java|Perl
14        React|HTML|CCS|ReactNative|Swift|Kanban|Scrum
15                                         C|C#|Python|
16    Deep|Learning|Python|Scikitlearn|C|JavaScript|SQL
17             AWS|GoogleCloud|Docker|JavaScript|Python
18             AWS|GoogleCloud|Docker|JavaScript|Python
19                   PHP|Ruby|C#|Java|JavaScript|Python
20       HTML|CCS|JavaScript|Bootstrap|ReacNative|Swift
21                                  Python|PowerBI||SQL
22                                            HTML|CCS|
23                                  C|C#|JavaScript|AWS
24                                    PowerBI|Tableau|R
25                      DeepLearning|Scikitlearn|Python
26    HTML|CCS|JavaScript|Python|C|AWS|React|ReactNa...
27                  HTML||Python|C||SQL|jQuery|Flutter|
28           Docker|AWS|GoogleCloud|Python|C|JavaScript
Name: Tecnologias, dtype: object

In [2]:
df = pd.read_csv('aplicantes.csv', encoding='ISO-8859-1')

In [3]:
df.head()

,AplicanteID,DescricaoTrabInteresse,Cidade,Estado,TipoTrabalho,Tecnologias,MelhorTecnologia,Ingles,Soft Skills,ExperienciaTrabalho
0,1,Estou procurando uma vaga de business intelige...,Garopaba,SC,Físico|Remoto,PowerBI|Tableau|R|Python|SQL|Docker,Python,Avancado,TrabalhoEquipe|Comunicacao,Pleno
1,2,Gostaria de uma vaga no time de Cientista de D...,Sao Bernardo do Campo,SP,Físico|Remoto,DeepLearning|Python|Sckitlearn|C|C#|JavaScript|,DeepLearning,Avancado,TrabalhoEquipe|Comunicacao,Senior
2,3,Gostaria de uma vaga no campo de programacao f...,Sao Paulo,SP,Remoto,ReactNative|Bootstrap|Java|JavaScript|jQuery,React,Basico,TrabalhoEquipe|Comunicacao,Pleno
3,4,Procuro vaga de junior de cientista de dados a...,Canoas,RS,Fisico,PowerBI|R|Python|SQL|Excel|GoogleSheets,R,Avancado,TrabalhoEquipe|Comunicacao,Junior
4,5,Gostaria de uma vaga no time de Cientista de D...,Curitiba,PR,Fisico|Remoto,Python|Scitkitlearn|Prophet,Prophet,Basico,Comprometimento|Agilidade,Senior

In [4]:
df['all_concat'] = df['DescricaoTrabInteresse'] + " " +df['Cidade'] + " " + df['Estado'] + " " + df['TipoTrabalho'] + " " + df['Tecnologias'] + " " + df['MelhorTecnologia'] + " " +df['ExperienciaTrabalho'] + " " +df['Ingles'] + " " +df['Soft Skills']

In [5]:
new_df = df[['AplicanteID', 'all_concat']]

In [6]:
new_df['all_concat'] = new_df['all_concat'].str.replace('[^a-zA-Z, | \n\.]'," ")

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
new_df['all_concat'] = new_df['all_concat'].str.replace('|', " ")
new_df['all_concat'] = new_df['all_concat'].str.replace(',', "")

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
new_df['all_concat'] = new_df['all_concat'].str.lower()

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
import nltk
from nltk.stem import PorterStemmer
stemmer =  PorterStemmer()
nltk.download('stopwords')
stop = nltk.corpus.stopwords.words('portuguese')

only_text = new_df['all_concat'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
only_text.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\joaop\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

0    procurando vaga business inteligence aplicado ...
1    gostaria vaga time cientista dados foco machin...
2    gostaria vaga campo programacao front end util...
3    procuro vaga junior cientista dados aplicado a...
4    gostaria vaga time cientista dados foco time s...
Name: all_concat, dtype: object

In [10]:
only_text = only_text.apply(lambda x : x.split(" "))

In [11]:
#only_text = only_text.apply(lambda x : filter(None,x.split(" ")))
#print(only_text.head())

In [12]:
#only_text = only_text.apply(lambda x : [stemmer.stem(y) for y in x])
#print(only_text.head())

In [13]:
only_text = only_text.apply(lambda x : " ".join(x))
print(only_text.head())

0    procurando vaga business inteligence aplicado ...
1    gostaria vaga time cientista dados foco machin...
2    gostaria vaga campo programacao front end util...
3    procuro vaga junior cientista dados aplicado a...
4    gostaria vaga time cientista dados foco time s...
Name: all_concat, dtype: object

In [14]:
final_df = pd.DataFrame()

In [15]:
final_df['text'] = only_text
final_df['AplicanteID'] = new_df['AplicanteID']

In [16]:
final_df.head()

                                                text  AplicanteID
0  procurando vaga business inteligence aplicado ...            1
1  gostaria vaga time cientista dados foco machin...            2
2  gostaria vaga campo programacao front end util...            3
3  procuro vaga junior cientista dados aplicado a...            4
4  gostaria vaga time cientista dados foco time s...            5

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.feature_extraction.text import CountVectorizer

tfidf_vectorizer = TfidfVectorizer()

tfidf_appid = tfidf_vectorizer.fit_transform((final_df['text'])) #fitting and transforming the vector
tfidf_appid

<30x143 sparse matrix of type '<class 'numpy.float64'>'
	with 564 stored elements in Compressed Sparse Row format>

# Empresas

In [18]:
empresas_df = pd.read_csv('empresas.csv', encoding='ISO-8859-1')

In [19]:
empresas_df

,EmpresaID,NomeEmpresa,Cidade,Estado,Vaga,Setor,DescricaoVaga,TecnologiasNecessarias,Ingles,Experiencia,TipoTrabalho
0,1,Globo,Rio de Janeiro,RJ,Cientista de Dados,Tecnologia da informacao e servicos; Telecomun...,Prover ao time Globoplay dados e informacao qu...,PowerBI|GoogleAnalytics|GoogleDataStudio|SQL|R...,Intermediario,Pleno,Fisico
1,2,Infosys,Sao Paulo,SP,Desenvolver React,Tecnologia da informacao e servicos,A Infosys está procurando um React Developer p...,AWS|React|JavaScript|ReactJS,Avancado,Pleno|Senior,Remoto

In [20]:
empresas_df['all_concat'] = empresas_df['NomeEmpresa'] + " " +empresas_df['Cidade'] + " " + empresas_df['Estado'] + " " +empresas_df['Vaga'] + " " +empresas_df['Setor'] + " " + empresas_df['DescricaoVaga'] + " " + empresas_df['TecnologiasNecessarias'] + " " +empresas_df['Experiencia'] + " " +empresas_df['Ingles'] + " " + empresas_df['TipoTrabalho']

In [21]:
empresas_df

,EmpresaID,NomeEmpresa,Cidade,Estado,Vaga,Setor,DescricaoVaga,TecnologiasNecessarias,Ingles,Experiencia,TipoTrabalho,all_concat
0,1,Globo,Rio de Janeiro,RJ,Cientista de Dados,Tecnologia da informacao e servicos; Telecomun...,Prover ao time Globoplay dados e informacao qu...,PowerBI|GoogleAnalytics|GoogleDataStudio|SQL|R...,Intermediario,Pleno,Fisico,Globo Rio de Janeiro RJ Cientista de Dados Tec...
1,2,Infosys,Sao Paulo,SP,Desenvolver React,Tecnologia da informacao e servicos,A Infosys está procurando um React Developer p...,AWS|React|JavaScript|ReactJS,Avancado,Pleno|Senior,Remoto,Infosys Sao Paulo SP Desenvolver React Tecnolo...

In [22]:
empresas_df['all_concat'] = empresas_df['all_concat'].str.replace('[^a-zA-Z, | \n\.]'," ")

In [23]:
empresas_df['all_concat'] = empresas_df['all_concat'].replace(',', "")

In [24]:
empresas_df['all_concat'] = empresas_df['all_concat'].str.lower()

In [25]:
EmpresaID = 2
index = np.where(empresas_df['EmpresaID'] == EmpresaID)[0][0]
empresa = empresas_df.iloc[[index]]
empresa

,EmpresaID,NomeEmpresa,Cidade,Estado,Vaga,Setor,DescricaoVaga,TecnologiasNecessarias,Ingles,Experiencia,TipoTrabalho,all_concat
1,2,Infosys,Sao Paulo,SP,Desenvolver React,Tecnologia da informacao e servicos,A Infosys está procurando um React Developer p...,AWS|React|JavaScript|ReactJS,Avancado,Pleno|Senior,Remoto,infosys sao paulo sp desenvolver react tecnolo...

In [26]:
jobid = tfidf_vectorizer.transform((empresa['all_concat'])) #fitting and transforming the vector
jobid

<1x143 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
output = map(lambda x: cosine_similarity(jobid, x),tfidf_appid)

In [29]:
output2 = list(output)

In [30]:
distances = []
for i in range(0,len(final_df)):
  distances.append(output2[i][0][0])

In [31]:
final_df['distances'] = distances

In [32]:
top_5 = final_df.sort_values('distances', ascending = False)['AplicanteID'][:5].values

In [42]:
recomendacao_aplicantes = pd.DataFrame(columns = ['Top 5','EmpresaID', 'AplicanteID Recomendado'])

for i in range(0,len(top_5)):
  recomendacao_aplicantes.at[i, 'Top 5'] =  i+1
  recomendacao_aplicantes.at[i, 'EmpresaID'] = EmpresaID 
  recomendacao_aplicantes.at[i, 'AplicanteID Recomendado'] = top_5[i]

In [43]:
recomendacao_aplicantes.set_index('Top 5')

      EmpresaID AplicanteID Recomendado
Top 5
1             2                      30
2             2                       3
3             2                      27
4             2                      24
5             2                      17

In [37]:
!pip install dataframe-image

Collecting dataframe-image
  Downloading dataframe_image-0.1.1-py3-none-any.whl (32 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\joaop\anaconda3\lib\site-packages (from dataframe-image) (4.8.2)
Collecting aiohttp
  Downloading aiohttp-3.7.4.post0-cp37-cp37m-win_amd64.whl (630 kB)
Requirement already satisfied: requests in c:\users\joaop\anaconda3\lib\site-packages (from dataframe-image) (2.22.0)
Requirement already satisfied: nbconvert>=5 in c:\users\joaop\anaconda3\lib\site-packages (from dataframe-image) (5.6.1)
Requirement already satisfied: matplotlib>=3.1 in c:\users\joaop\anaconda3\lib\site-packages (from dataframe-image) (3.1.3)
Requirement already satisfied: pandas>=0.24 in c:\users\joaop\anaconda3\lib\site-packages (from dataframe-image) (1.1.4)
Requirement already satisfied: soupsieve>=1.2 in c:\users\joaop\anaconda3\lib\site-packages (from beautifulsoup4->dataframe-image) (1.9.5)
Requirement already satisfied: chardet<5.0,>=2.0 in c:\users\joaop\anaconda3\lib\site-packages (from aiohttp->dataframe-image) (3.0.4)
Requirement already satisfied: attrs>=17.3.0 in c:\users\joaop\anaconda3\lib\site-packages (from aiohttp->dataframe-image) (19.3.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\joaop\anaconda3\lib\site-packages (from aiohttp->dataframe-image) (3.7.4.2)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.6.3-cp37-cp37m-win_amd64.whl (124 kB)
Collecting async-timeout<4.0,>=3.0
  Downloading async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-5.1.0-cp37-cp37m-win_amd64.whl (48 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\joaop\anaconda3\lib\site-packages (from requests->dataframe-image) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\joaop\anaconda3\lib\site-packages (from requests->dataframe-image) (2020.6.20)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\joaop\anaconda3\lib\site-packages (from requests->dataframe-image) (2.8)
Requirement already satisfied: jinja2>=2.4 in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (2.11.1)
Requirement already satisfied: pygments in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (2.5.2)
Requirement already satisfied: testpath in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (0.3)
Requirement already satisfied: jupyter-core in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (4.6.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (0.8.4)
Requirement already satisfied: nbformat>=4.4 in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (5.0.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (1.4.2)
Requirement already satisfied: defusedxml in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (0.6.0)
Requirement already satisfied: bleach in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (3.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\joaop\anaconda3\lib\site-packages (from nbconvert>=5->dataframe-image) (4.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\joaop\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe-image) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\joaop\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe-image) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\joaop\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe-image) (1.1.0)
Requirement already satisfied: numpy>=1.11 in c:\users\joaop\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe-image) (1.18.1)
Requirement already satisfied: cycler>=0.10 in c:\users\joaop\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe-image) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\joaop\anaconda3\lib\site-packages (from pandas>=0.24->dataframe-image) (2019.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\joaop\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert>=5->dataframe-image) (1.1.1)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\joaop\anaconda3\lib\site-packages (from jupyter-core->nbconvert>=5->dataframe-image) (227)
Requirement already satisfied: ipython-genutils in c:\users\joaop\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\joaop\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (3.2.0)
Requirement already satisfied: six>=1.9.0 in c:\users\joaop\anaconda3\lib\site-packages (from bleach->nbconvert>=5->dataframe-image) (1.14.0)
Requirement already satisfied: webencodings in c:\users\joaop\anaconda3\lib\site-packages (from bleach->nbconvert>=5->dataframe-image) (0.5.1)
Requirement already satisfied: decorator in c:\users\joaop\anaconda3\lib\site-packages (from traitlets>=4.2->nbconvert>=5->dataframe-image) (4.4.1)
Requirement already satisfied: setuptools in c:\users\joaop\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->dataframe-image) (50.3.2)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\joaop\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (1.7.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\joaop\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (0.15.7)
Requirement already satisfied: zipp>=0.5 in c:\users\joaop\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe-image) (2.2.0)
Installing collected packages: multidict, yarl, async-timeout, aiohttp, dataframe-image
Successfully installed aiohttp-3.7.4.post0 async-timeout-3.0.1 dataframe-image-0.1.1 multidict-5.1.0 yarl-1.6.3

In [38]:
import dataframe_image as dfi

In [44]:
recomendacao_aplicantes.dfi.export('recomendacoes.png')

In [51]:
informacoes_escolhidos = df.loc[top_5-1]

In [52]:
informacoes_escolhidos.dfi.export('informacoes_escolhidos.png')